
<footer class="text-bg-dark">
    <div class="container footer-div">
        <p>Made with ❤️ by Team 23</p>
        <p>Umesh Kashyap, Yash Aggarwal, Krish Bansal, Dhruv Rai</p>
    <div class="final">
    <p>Icons by <a href="https://www.icons8.com">Icons8</a></p>
    <p>&copy; 2025 | All rights reserved</p>
    </div>
</footer>