<%- include("partials/header.ejs") %>

<div class="main-container">
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/images/Microprocessor.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Microprocessors Attendance System CSE-3</h1>
        <p class="lead">A biometric fingerprint based attendance system developed by Team 23 as a project for M&M course. It streamlines the attendance tracking and record for the class </p>
        <button type="button" class="btn btn-outline-dark btn-lg px-4 me-md-2" onclick="location.href='/attendance'">
          View Attendance
        </button>        
      </div>
    </div>
  </div>
</div>


<%- include("partials/footer.ejs") %>