*{
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
}

.header-container li a{
    font-family: "Liter", serif;
    color: yellow;
    font-size: large;
}

.header-container li a:hover{
    color: white;
}


nav{
    background-color: rgb(255, 255, 255) !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important
}

.nav-item a{
    color: black !important;
    font-family: "Liter";
}

.nav-item a:hover{
    background-color: aquamarine;
}